# Core settings and validation
pydantic
pydantic-settings

# FastAPI web server
fastapi
uvicorn[standard]
python-multipart
jinja2
aiofiles
httpx

#clip
transformers
diffusers
accelerate
huggingface_hub
protobuf>=3.20.0
sentencepiece