# Core settings and validation
pydantic
pydantic-settings

# FastAPI web server
fastapi
uvicorn[standard]
python-multipart
jinja2
aiofiles
httpx

#clip
ftfy
gradio
regex
timm
fairscale
requests
open_clip_torch
transformers==4.33.3