# Core settings and validation
pydantic
pydantic-settings
redis
rq

# FastAPI web server
fastapi
uvicorn[standard]
python-multipart
jinja2
aiofiles
httpx
pillow
cairosvg

#clip
transformers==4.41.2
accelerate
huggingface_hub
protobuf>=3.20.0
sentencepiece
supabase